/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .scrollToTop{
        font-size: 12px;
    }
    header{
        height: 75px;
    }
    #nav{
        line-height: 75px;
    }
    #nav .wrapper .say__hello{
        padding: 5px 10px;
        border-radius: 14px;
        font-size: 16px;
    }
    #welcome{
        padding-top: 20px;
    }
    #welcome .heading h1{
        font-size: 26px;
    }
    #welcome .heading p{
        font-size: 18px;
        font-weight: 200;
    }
    #main #about__me .decription{
        padding: 30px 0;
        padding-bottom: 300px;
        width: 90%;
        margin: 0 auto;
        color: white;
        line-height: 30px;
    }
    #main #with_works{
        background-color: #2C3A47;
        width: 100%;
        padding: 20px 0;
        margin-top: 100px;
        font-family: "europa",sans-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
    #main #with_works .brands-with_works{
        padding: 30px 0;
        border-radius: 18px;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.274);
        -moz-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.274);
        box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.274);
        width: 90%;
        margin: 30px auto;
        color: white;
    }
    #main #with_works .brands-with_works img{
        padding: 20px;
        width: 40%;
    }
    #main #with_works .brands-with_works h2{
        color: #2C3A47;
        font-size: 30px;
        font-weight: 500;
    }
    .skillbar-bar-percent{
        position: absolute;
        top: 0;
        right: 10px;
        height: 35px;
        line-height: 35px;
        font-size: 13px;
        color: rgb(0, 0, 0)
    }
    .col-fourth{
        width: 25%;
        min-height: 140px;
        vertical-align: middle;
        font-size: 18px;
        position: relative;
        display: inline-block;
        margin-right: 2%;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.137);
        -moz-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.137);
        box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.137);
    }
    .stats__wrap{
        width: 100%;
        margin: 30px auto;
        position: relative;
    }
    .count-text{
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        color: black;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    #card-collaboration-start{
        line-height: 30px;
    }
    #card-collaboration-start .heading-collaboration{
        font-size: 18px;
        top: 20px;
    }
    #card-collaboration-start .paragraph-collaboration{
        font-size: 14px;
        top: 30px;
    }
    #card-collaboration-start .button-collaboration{
        top: 50px;
    }
    #card-collaboration-start .button-collaboration button{
        font-size: 16px;
        
    }
    #developer{
        width: 90%;
        margin: 60px auto;
    }
    #developer .developer-heading{
        padding: 10px 0;
    }
    #developer .developer-heading h3{
        font-size: 28px;
    }
    #developer .developer-heading p{
        font-size: 20px;
        font-weight: 300;
    }
    #developer .developer-photo{
        width: 120px;
        margin: 0 auto;
    }
    #developer .developer-photo img{
        width: 100%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.237);
        -moz-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.237);
        box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.237);
    }
    #developer .developer-description{
        width: 90%;
        margin: 10px auto;
    }
    #developer .developer-description > .description-text{
        font-size: 22px;
        font-weight: 400;
    }
    #developer .developer-post-scriptumn h5{
        padding-top: 20px;
        font-size: 22px;
        font-weight: 600;
    }
    #footer-links .footer-paragraph{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
    .fab, .far{
        color: white;
        padding-top: 4px;
    }
    #footer-links .footer-made{
        font-size: 16px;
    }
    #footer-links .footer-made-with{
        font-size: 14px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 360px) {
    .scrollToTop{
        font-size: 12px;
    }
    header{
        height: 75px;
    }
    #nav{
        line-height: 75px;
    }
    #nav .wrapper .say__hello{
        padding: 5px 10px;
        border-radius: 14px;
        font-size: 16px;
    }
    #welcome{
        padding-top: 20px;
    }
    #welcome .heading h1{
        font-size: 26px;
    }
    #welcome .heading p{
        font-size: 18px;
        font-weight: 200;
    }
    .skillbar-bar-percent{
        position: absolute;
        top: 0;
        right: 10px;
        height: 35px;
        line-height: 35px;
        font-size: 13px;
        color: rgb(0, 0, 0)
    }
    .col-fourth{
        width: 25%;
        min-height: 140px;
        vertical-align: middle;
        font-size: 18px;
        position: relative;
        display: inline-block;
        margin-right: 2%;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.137);
        -moz-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.137);
        box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.137);
    }
    .stats__wrap{
        width: 100%;
        margin: 30px auto;
        position: relative;
    }
    .count-text{
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        color: black;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    #card-collaboration-start{
        line-height: 35px;
    }
    #card-collaboration-start .heading-collaboration{
        font-size: 18px;
    }
    #card-collaboration-start .paragraph-collaboration{
        font-size: 14px;
    }
    #card-collaboration-start .button-collaboration button{
        font-size: 16px;
    }
    #footer-links .footer-paragraph{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }
    .fab, .far{
        color: white;
        padding-top: 4px;
    }
    #footer-links .footer-made{
        font-size: 16px;
    }
    #footer-links .footer-made-with{
        font-size: 14px;
    }
}